*{
    margin: 0;
    padding: 0;
    transition: .3s all;
}
:root{
    --myColor: rgb(228, 109, 11);
    --hColor: rgb(0, 0, 0, 0.733);
    --myGray:rgb(75, 74, 74)
}
header{
    display: flex;
    width: 100%;
    height: 40px;
    position: fixed;
    justify-content:space-around;
    align-items: center;
    padding-top: 20px;
    z-index: 2;
    /* align-content: space-around; */
}
.wrap,.dropdown{
    display: none;
    position: relative;
}
body{
    height: 100%;
}
a , .welcome p, .container-child h2{
    color: whitesmoke;
    text-decoration: none;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 180px;
}
.logo p{
    font-size: 30px;
    font-weight: bold;
}
.logo span{
    color: var(--myColor);
}

.header-link a{
    padding-right: 20px;
    transition: .3s all;
}
.header-link a:hover{
    color: var(--myColor);
}
.header-link a:last-child:hover{
    box-shadow: 0 0 10px 5px orange ;
    color: whitesmoke;
}
.header-link a:last-child, .container-child button{
    background-color:  var(--myColor);
    padding: 6px;
    margin-left: 60px;
    border-radius: 3px;
    border: 0;
}
.dropdown{
    display: none;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    background-color: rgba(146, 146, 146, 0.2);
    border-radius: 10px;
    margin:  auto;
    overflow: auto;
    transition: .3s all;
}
.dropdown-showed{display: flex;}
.dropdown a {
    display: block;
    padding: 10px 50px;
    z-index: 2;
}
.dropdown a:hover{
    background-color: rgba(212, 212, 212, 0.19);
    color: var(--myColor);

}

/* _________________________/header__________________________________ */

.container{
    position: relative;
    top: 80px;
    display: flex;
    align-items: center;
    z-index: 1;
    margin: 15px;
    margin-left: 20px;
}
.container-child button:last-child{
    background-color: white;
    margin-left: 10px;
}
.container-child button:hover{
    box-shadow: 0 0 5px 5px orange ;
}

.container-child button{
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: .3s ease;
    /* background-color: var(--myColor); */
}
.container-child button:first-child{color: white;}
.welcome{
    display: flex;
    flex-direction: column;
    background-image: url("https://img.freepik.com/premium-photo/dark-room-with-tile-floor-brick-wall-background_488220-59326.jpg");
    background-size:contain;
    height: 100vh;
}

.welcome .container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}
.container-child{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}
.container-child H2{ font-size: 40px; }
.container-child span{ color: var(--myColor); }
.container-child :not(H2,button){
    margin-bottom:20px ;
    margin-top: 20px;
}
i{
    color: var(--myColor);
    font-size: 30px;
}

/* ________________________section 2__________________________ */

.second-part{
    display: flex;
    align-items: center;
    margin: 50px;
    align-content: space-between;
    padding-left: 50px;
}

.second-part h2{
    color: var(--hColor);
    font-weight:bold;
    font-size: 40px;
    margin-top: 20px;
}
.second-part p, .last-part p{
    color: rgb(75, 74, 74);
    margin-top: 20px;
}
p.principal{color:var(--myColor);}
.second-part div img{
    border-radius: 10px;
    margin-left: 20px;

}

._firstone,button{
    cursor: pointer;
    border:0;
    padding: 10px;
    background-color: var(--myColor);
    border-radius: 3px;
    margin-top: 20px;
}
._firstone:hover,button:hover{
    transition: .5s ease;
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.324);
}

.my-images{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -40px;
    max-height: 80px;
    transition: .4s ease-in;
}
.my-images img{
    height: 100px;
    width: 120px;
    border-radius: 10px;
    margin-left: 20px;
    filter: brightness(0.8);
    box-shadow: 2px 2px 5px black;
}
.my-images #top{
    position: relative;
    top: 10px;
}
.my-images #bottom{
    position: relative;
    bottom: 10px;
}
.my-images img:hover{
    /* height: 120px; */
    /* width: 140px; */
    border-radius: 10px;
    margin-left: 20px;
    filter: brightness(1);
    box-shadow: 2px 2px 10px black;
}

/* ________________________section 3_____________________________________ */

.last-part,.last-part .first_child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.last-part{
    background-color: rgba(255, 139, 85, 0.096);
    height: 1000px;
}
.last-part h1{color:var(--hColor)}
.last-part .first_child{
    width: 40%;
    align-content: space-between;
    margin-bottom: 20px;
}

.first_child p,.first_child h2, .first_child div{
    margin-bottom: 15px;
}
.first_child div{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.first_child div button{
    padding: 10px;
    border: 0;
    background-color: var(--hColor);
    color: whitesmoke;
    border-radius: 3px;
}
.first_child div button:hover{
    background-color: var(--myColor);
    box-shadow: 2px 2px 5px  rgba(0, 0, 0, 0.324);
 
}

.second_child{
    /* background-color: blue; */
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 40px;
}
.horaire, .selectedDishes{
    margin: auto;
}
#horaire{
    width: 400px;
    height:500px;
    position: relative;
    left:-110px;
}

.selectedDishes{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 40%;
    /* background-color: red; */
    height: 100%;
    justify-content: center;
}
.dishes-div,.paragraph, .paragraph div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.paragraph div{
    align-items: center;
    justify-content: space-between;
    
}
.dishes-div{
    /* background-color: bisque; */
    height: 120px;
    cursor: pointer;
    border-bottom: 2px solid ;
    transition: 0.7s ease-in-out;
}
.dishes-div:hover{
    background-color: var(--myColor);
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 4px;
}
.dishes-div:hover p.price, .dishes-div:hover .dishe-name, .dishes-div:hover p.descrip {
    color: white;
}
.paragraph{
    flex-direction: column;
    /* align-items: flex-start; */
    justify-items: flex-start;
    height: 100px;
    /* background-color: blueviolet; */
    margin-left: 10px;
}
.paragraph div:last-child p{
    color: red;
}
p.price{
    color: var(--myColor);
    font-weight: bold;
}
p.price:hover{
    color: white;
}
.dishesImg{
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.dishe-name{
    color: var(--hColor);
    font-weight: bold;
}

@media only screen and (max-width:800px) {
    .header-link{display: none;}
    .wrap{display: flex;}
    header{
    justify-content: space-between;
    }
    .logo, .wrap{
        margin-left: 50px;
        margin-right: 50px;
    }
    
}

